<!-- page2.html -->
<h2>Welcome to Metro Cars For Sale</h2>
<p>We offer up a list of used cars for sale as listed in the following local dealerships</p>

<p>Today is: {{date}}</p>

<div class="row">
    <!-- using the Bootstrap grid system to limit the-->
    <div class="col-md-6">
        <!-- table width to half a page-->

        <p><input type='text' ng-model='search_text'> Enter Search text</p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Dealer</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            <tr ng-repeat="dealer in dealers | filter:search_text ">
                <td>{{dealer.id}}</td>
                <td>{{dealer.dealer}}</td>
                <td>{{dealer.address}}</td>
                <td>{{dealer.phone}}</td>
            </tr>
        </table>

        <p>
            All dealerships offer:
            <ol class='class="list-group"'>
                <li class="list-group-item">Frendly Service</li>
                <li class="list-group-item">On-lot Financing</li>
                <li class="list-group-item">Extended Warranties</li>
            </ol>
        </p>

    </div>  <!-- end class = 'row' - -->
</div>  <!-- end class = 'row' - -->