<html ng-app="mainApp">
<head>
    <title>Welcome to Our Website</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.js"></script>


</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <!-- begin nav bar -->
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Our Website</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">All Advisees</a></li>
                        <li><a href="gpa.html">Grade Point Averages</a></li>
                    </ul>
                </div>

            </div>
        </nav> <!-- end nav bar  -->
        <div ng-controller="mainController">
            <h2>Advisees</h2>
            <p>Today is: {{date}}</p>
            <p><input type='text' ng-model='search_text'> Enter Search text</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>sid</th>
                    <th>last name</th>
                    <th>first name</th>
                    <th>gpa</th>
                </tr>
                <tr ng-repeat="student in students | filter:search_text ">
                    <td>{{student.id}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.first_name}}</td>
                    <td>{{(student.gpa_points / student.credit_hrs).toFixed(1)}}</td>
                </tr>
            </table>
        </div>    <!--End of homeCtrl-->
    </div> <!-- end of div container -->

    <div class="panel-footer">
        <p>Links:  &nbsp; &copy; Very Cool College. | Privacy | Contact Us | About</p>
    </div>
    <script>
            var app = angular.module('mainApp', []);

            app.controller('mainController', function ($scope, $http) {
                var today = new Date();  /* get today's date */
                $scope.date = today.toDateString()
                $http.get("students.json").then(function (response) {
                    $scope.students = response.data
                });
            });

    </script>
</body>
</html>